# Create an app at https://vercel.com/account/apps
# Set the callback URL to http://localhost:3000/api/auth/callback
NEXT_PUBLIC_VERCEL_APP_CLIENT_ID=your-client-id
VERCEL_APP_CLIENT_SECRET=your-client-secret
